@import '../helpers/variables';
@import '../helpers/mixins';

* {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	text-align: left;
	border: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	font-weight: normal;
	font-size: 1.6rem;
}

button {
	background: transparent;
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
}

section {
	overflow: hidden;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow: overlay;

	@media (max-width: 1250px) {
		font-size: 55%;
	}

	@media (max-width: 600px) {
		font-size: 62.5%;
	}
}

input,
button,
textarea {
	appearance: none;
}
